#!/bin/bash

MYSQL='mysql --skip-column-names'
mysql -e "stop slave;"
for db in $(${MYSQL} -e "show databases where \`Database\` not in ('mysql', 'performance_schema', 'sys', 'information_schema')"); do
	dump_time=$(date +"%Y%m%d")
    mkdir ${dump_time}
    for t in $(${MYSQL} -e "use ${db};show tables"); do
		mkdir ${db}
		/usr/bin/mysqldump ${db} ${t} | gzip -1 > ${dump_time}/${db}/${t}TESTDUMP.gz
	done
done
mysql -e "start slave;"
exit 0